.bloco {
    background-image: url('imagem/wallpaper003.jpg');
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 4px;
}

#q1 {
    background-position: left top;
}

#q2 {
    background-position: left center;
}

#q3 {
    background-position: right bottom;
}

#q4 {
    background-position: center center;
}